.latesArticles{
    //margin-top:-1em;
    padding-top:4em ;
    padding-bottom: 4.6em;
    background: #fafafa ;
    // border:solid red 3px;
    &__grid{
        display: grid;
        grid-row-gap:3em ;
       
    }
    &__item{
     //  background: var(--white);
       background:  white;
       border-radius: .4em;
       overflow: hidden; // para que no sobre salga la aimagen del article
       &__content{
           padding:0 2em;
           margin-top: 1.7em;;
         
       }
       img{
        width: 100%;
        object-fit: cover;
        display: block;
        
      }
      .copy{
        font-size:.76em;
      //  border:solid 2px red;  
       }
    }
    small{
        font-size:.7em;
        color: var(--grarBlue);
        //border:solid 2px red;
         display: block;
        // margin-top:2em;
         margin-bottom: 1em;
    }
    
    
}
// .latesArticles h1{
//     text-align: center;
//    // border:solid 2px red;
// }
// .latesArticles .copy{
//     font-size:.8em;
//   //  border:solid 2px red;
// }
