.why{
   //border:solid blue 3px;
    padding: 3em 0;
    background-color: var(--gray);
    text-align: center;
  
    &__item{
      .copy{
         //   border:solid blue 3px;
           // margin-bottom: 1.5em;
           font-size:.91em;
        }
        img{
          margin-top: 1.4em;
          margin-bottom: .3em;
       //   border:solid red 3px;
        }
       
    }
}